#calendar-page {
  height: 91vh;
}

.calendar-container {
  height: 100%;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.volunteer.calendar-container .fc-daygrid-day:hover {
  cursor: pointer;
}

.admin.calendar-container .fc-daygrid-event-harness:hover {
  cursor: pointer;
}

.Collapsible:hover {
  cursor: pointer;
}
