#calendar-page {
  height: 92vh;
}

#calendar-container {
  height: 100%;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}

.fc-daygrid-day:hover {
  cursor: pointer;
}

.Collapsible:hover {
  cursor: pointer;
}

#check-title {
  display: flex;
  width: 100%;
  justify-content: center;
}

#check-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2% 10%;
}
