#landing-page {
	min-height: 100vh;
	min-width: 100vw;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-image: url('../images/landing-page-background.JPG');
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	font-family: sans-serif;
	padding-top: 1%;
	padding-bottom: 4%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#landing-page-banner{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 4%;
}

#logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

#logo img {
	height: 9.1em;
	width: auto;
}

#title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}

#logo, #title {
	margin-right: 10%;
}

.volunteer-opportunities {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-size: 3.5em;
 	margin: 0px;
	color: white;
}

#options {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

/* #options button {
	cursor: pointer;
	text-transform: uppercase;
	height: 50px;
	width: 150px;
	font-size: 1.1em;
	font-stretch: condensed;
	background-color: transparent;
	border: 2px solid white;
	color: white;
} */

.signup-box {
	justify-content: center;
	padding: 22pc;
}

#login-box {
	justify-content: center;
	padding: 30px;
}