#landing-page {
	background-image: url("https://s-media-cache-ak0.pinimg.com/736x/7e/1b/ec/7e1bec3d3fc337050f7a7c6873d0342b.jpg");
	/* -webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover; */
	width: 100%;
	height: auto;
	font-family: sans-serif;
	color: white;
	background-color: #d4d4d4;
	padding-top: 8%;
	padding-bottom: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#welcome-banner {
	display: flex;
	flex-direction: row;
	/* justify-content: space-around; */
	padding-bottom: 4%;
}

#logo > img {
	height: 160px;
	width: auto;
}

#logo {
	margin-right: 5%;
}

#title {
	margin-left: 5%;
}

.volunteer-opportunities {
	display: flex;
 	justify-content: center;
 	align-items: center;
 	font-size: 70px;
 	margin: 0px;
	color: white;
}

#buttons {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

#buttons button {
	text-transform: uppercase;
	height: 70px;
	width: 250px;
	font-size: 25px;
	font-stretch: condensed;
	background-color: transparent;
	border: 2px solid white;
	color: white;
}

.signinBox {
	justify-content: center;
	padding: 22pc;
}

.loginBox {
	justify-content: center;
	padding: 22px;
}