.signup-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
}

.signup-title {
    padding-top: 4%;
    padding-bottom: 1%;
    padding-left: 6%;
    padding-right: 6%;

    font-style: normal;
    font-weight: normal;
    text-transform: uppercase; 
    color: #4e5e9a;
}

.forms {
    text-transform: uppercase; 
    margin-top: 5%;
    
}

input.form-control {
    border-radius: 0%;
    border-color: black;
}

.signup-button {
    margin-top: 3%;
}
