h2 {
  padding-top: 1%;
  padding-bottom: 2%;
  padding-left: 3%;
  padding-right: 6%;
  color: #4e5e9a;
  letter-spacing: -0.015em;
  font-size: 2.5em;
  text-transform: capitalize;
  text-align: center;
}

.title {
  font-family: PT Serif;
  font-size: 150%;
  color: #4e5e9a;
  line-height: 90px;
  inline-size: 900px;
}

input {
  border: 1px solid black;
}

label {
  font-family: Roboto;
  font-weight: 50;
  font-stretch: semi-condensed;
  line-height: 0em;
  letter-spacing: -0.055em;
  text-transform: uppercase;
  font-size: 2em;
  padding-top: 5%;
}

.fields {
  display: flex;
  justify-content: center;
  font-size: 1em;
}

.fields-column {
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0%;
  font-size: 1em;
}

.drop-down {
  display: flex;
  flex-direction: column;
  width: 33vw;
  line-height: 3.5em;
}

.input {
  padding-top: 0%;
  margin-top: 0%;
  margin-bottom: 4%;
  display: flex;
  flex-direction: column;
  width: 33vw;
  line-height: 3.5em;
  font-size: 1em;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* changes text for dropdown placeholder text */
  font-size: 1em;
  color: black;
}

#sign-up-button {
  margin-top: 3%;
}

/* The following selector modifies Google Chrome's default
  * autofill input background color to match the color scheme
  */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
