 .banner-image {
    height: 14em;
    width: auto;
}

#images-banner {
    display: flex;
    margin-top: 2em;
    margin-bottom: 3em;
}

.banner-image + .banner-image {
    margin-left: 3em;
}

#welcome > h1 {
    color: #4E5E9A;
}

#news > h3, #engagements > h3 {
    padding-bottom: 0.8em;
    text-transform: uppercase;
}

#welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dashboard {
    display: flex;
    padding-bottom: 7em;
}

#news {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 7em;
    max-width: 33vw;
}

#engagements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 4em;
}

.event, .announcement {
    text-transform: uppercase;
}

.announcement {
    display: flex;
    flex-direction: column;
}

.event {
  margin-bottom: 1.5em;
}